@font-face {
    font-family: roboto;

}
body {
    font-family: roboto,sans-serif;
}

p{
 color: blue;
 font-size: 24px;
 text-decoration: underline;
 font-weight: 500;
 text-transform: capitalize;
 line-height: 350%;
 letter-spacing: 2px ;
 text-align: justify;
}